
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6e9e9;
    background-image: url('giff.gif'); /* Path to your background image */
    background-size: cover; /* Scale the image to cover the entire background */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
}

ul {
    list-style-type: none; /* Maddeleme noktalarını kaldırır */
  }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: #363333;
    color: #fff;
    text-align: center;
    padding: 2em 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}


footer{
    background-color: #363333;
    color: #fff;
    text-align: center;
}
.buttons {
    display: flex;
    align-items: flex-start;
}

button{
    border-radius: 8px;
    background-color: #e16428; 
    color: white;
    border: 0.02;
    padding-left: 5px;
    border-color: #272121;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center; /* Yatayda ortala */
    flex-grow: 1; /* Uzunluğunu tam olarak kapla */
}

.bol{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 sütun */
    gap: 10px;
}
.kutu{
    padding-bottom: 30px;
}
.personal {
    text-align: center;
    /* Diğer stillendirmeleri ekleyebilirsiniz */
}

.container1 {
    padding-top: 6%;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 15px;
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    border: 1px solid #ccc; /* Çerçeve rengi ve kalınlığı */
    border-radius: 10px; /* Çerçeve kenar yuvarlaması */
    backdrop-filter: blur(10px); /* Bulanıklık miktarı */
    background-color: rgba(255, 255, 255, 0.5); /* Bulanıklık rengi ve opaklığı */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Opsiyonel: Gölge efekti */
}

.container {
    padding-left: 3%;
    padding-right: 3%;
    max-width: 1000px;
    width: 80%;
    margin: 0 auto;
    border: 1px solid #ccc; /* Çerçeve rengi ve kalınlığı */
    border-radius: 10px; /* Çerçeve kenar yuvarlaması */
    backdrop-filter: blur(10px); /* Bulanıklık miktarı */
    background-color: rgba(255, 255, 255, 0.5); /* Bulanıklık rengi ve opaklığı */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Opsiyonel: Gölge efekti */
}
.container2{
    height: 500px; /* İçerik yüksekliği belirlendi */
    overflow: auto; /* İçeriğin aştığı durumda scrollbar göster */
    
}
.container2::-webkit-scrollbar{
    width: 0;  /* scrollbarı görsel olarak yok etmek için kullanılır*/
}


section {
    margin: 40px 0;
}

h2 {
    color: #333;
}

.project {
    background-color: #272121;
    color: #fff;
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 30px;
    transition: background-color 0.3s ease;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5); /* X-offset, Y-offset, blur radius, spread radius, color */

}

.project a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.project a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

.nestedcontainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 sütun */
    grid-template-rows: repeat(2, 1fr); /* 2 satır */
    gap: 10px; /* Kutular arasındaki boşluk */
}

.yetenekler{
    overflow: auto;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5); /* X-offset, Y-offset, blur radius, spread radius, color */
  background-color: #272121;
  border-radius: 8px;
  text-align: center;
  padding-right: 30px;
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px 1px rgba(135, 132, 132, 0.5); /* X-offset, Y-offset, blur radius, color */
  transition: transform 0.3s ease;
}
.yetenekler:hover{
    transform: scale(1.1); /* Kutuyu 1.1 kat büyüt */
}
img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
/* Add styles for the message form */
.message-form {
    margin-top: 30px;
}

.message-form h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.message-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message-form textarea {
    width: 100%;
    max-width: 500px;
    height: 150px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.message-form button {
    padding: 10px 20px;
    background-color: #272121;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.message-form button:hover {
    background-color: #e16428; 
}

p {
    font-size: 16px; /* Başlangıç metin boyutu */
}

h1 {
    font-size: 25px; /* Başlangıç metin boyutu */
}
h2 {
    font-size: 23px; /* Başlangıç metin boyutu */
}
h3 {
    font-size: 20px; /* Başlangıç metin boyutu */
}
li{
    font-size: 20px;
}
header h1 {
    margin: 0;
    font-size: 2em;
}

header p {
    margin: 0;
    font-size: 1.2em;
}
a{
    font-size: 25px; /* Başlangıç metin boyutu */
}

@media screen and (max-width: 768px) {
    p {
        font-size: 9px; /* Küçük ekranlarda metin boyutunu küçült */
    }
    h1{
        font-size: 13px;
    }
    h2{
        font-size: 12px;

    }
    h3{
        font-size: 11px;

    }
    li{
        font-size: 10px;
    }
    header h1{
        font-size: 15px;
    }
    header p{
        font-size: 12px;

    }
    a{
        font-size: 13px;
    }
}





